{{ header }} {{ column_left }} {{ column_right }}
<div id="content">
    {{ content_top }}
    {# ajouter un fil d'Ariane #}
    <ul class="breadcrumb container" style="margin: 0 auto;">
        {% for breadcrumb in breadcrumbs %}
            <li><a href=" {{ breadcrumb['href'] }}">
                    {{ breadcrumb['text'] }}</a></li>
        {% endfor %}
    </ul>
    <h1 class="text-center">{{ heading_title }}</h1>
    {# tester si le client n'est pas connecté #}
    {% if not clientId %}
        <h3 class="text-center text-danger">{{ text_connecter_vous }}</h3>
    {% endif %}
    {# tester si le client est connecté #}
    {% if clientId %}
        <h3 class="text-center text-danger">{{ text_bonjour }} {{ clientNom }} {{ clientPrenom }}</h3>

    {% endif %}
    <div class="container">
        <table class="table table-bordered" style="width:80%; margin: auto; font-size: 16px">
            <tr style="font-weight:bold;">
                <th style="width:20%; padding:10px 0px 10px 10px;
                        background:#eeeeee; text-align:left;">{{ text_idProduit }}</th>
                <th style="width:20%; padding:10px 0px 10px 10px;
                        background:#eeeeee; text-align:left;">{{ text_nomProduit }}</th>
                <th style="width:20%; padding:10px 0px 10px 10px;
                        background:#eeeeee; text-align:left;">{{ text_prixDepart }}</th>
                <th style="width:20%; padding:10px 10px 10px 10px;
                        background:#eeeeee; text-align:center;">{{ text_dateFin }}</th>
                {% if clientId %}
                    <th style="width:20%; padding:10px 10px 10px 10px;
                        background:#eeeeee; text-align:right;">{{ text_votre_enchere }}</th>
                {% endif %}
            </tr>
            {# afficher chaque enchère #}
            {% for enchere in toutEncheres %}
                <tr>
                    <td style="padding:10px 0px 10px 10px; text-align:left;
                                border-bottom: 1px solid #eeeeee;">{{ enchere['idProduit'] }}</td>
                    <td style="padding:10px 0px 10px 10px; text-align:left;
                                border-bottom: 1px solid #eeeeee;">{{ enchere['nomProduit'] }}</td>
                    <td style="padding:10px 0px 10px 10px; text-align:left;
                        border-bottom: 1px solid #eeeeee; border-left: 1px solid #eeeeee;">{{ enchere['prix'] }}</td>
                    <td style="padding:10px 10px 10px 10px; text-align:right;
                                border-bottom: 1px solid #eeeeee; border-left: 1px solid #eeeeee;">{{ enchere['dateFin'] }}</td>
                    {# seuls les clients connectés peuvent faire une offre #}
                    {% if clientId %}
                        <td style="padding:10px 10px 10px 10px; text-align:right;
                                border-bottom: 1px solid #eeeeee; border-left: 1px solid #eeeeee;">
                            <button type="button" class="btn btn-primary">
                                {{ text_votre_enchere }}
                            </button>
                            <script>
                                document.currentScript.previousElementSibling.addEventListener('click', (ev) => {
                                    document.getElementById('encheresId').value = {{ enchere['id'] }};
                                    let inputOffre = document.getElementById('offre');
                                    inputOffre.value = ({{ enchere['prix'] }} +1);
                                    // fixer le prix minimum à la dernière plus une
                                    inputOffre.setAttribute('min', {{ enchere['prix'] }} +1);
                                    $('#enchereModal').modal('show');
                                });
                            </script>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    {{ content_bottom }}
</div>

{#Modal form pour nouveax proposition#}

<!-- Modal -->
<div class="modal fade" id="enchereModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{ text_titre_modal }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="enchere">Proposition, $</label>
                        <input type="number" class="form-control" name="offre" id="offre" placeholder="Votre enchère"
                               min="0" required>
                        <small class="form-text text-muted">{{ text_label_modal }}</small>
                    </div>
                    <input type="hidden" name="form-nouveau-enchere">
                    <input type="hidden" id="encheresId" name="encheresId" value="">
                    <button type="submit" class="btn btn-primary">{{ text_submit_modal }}</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ text_fermer_modal }}</button>
                {# #}
            </div>
        </div>
    </div>
</div>


{{ footer }}
