{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
        {# Titre de page #}
      <h1>{{ heading_title }}</h1>
        {# ajouter un fil d'Ariane #}
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
      {# vérifier s'il y a des erreurs #}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      {#Panneau du corps#}
      <div class="panel-body">
        {#formulaire de configuration du module#}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entree_status }}</label>
            <div class="col-sm-10">
              <select name="module_encheres_status" id="input-status" class="form-control">
                {# vérifier l'état du module #}
                {% if module_encheres_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <input type="hidden" name="form-type" value="parameters">
        </form>
        <br>
        <hr>
        <h2>{{ ajoute_enchere_title }}</h2>
        {#formulaire pour ajouter une nouvelle enchère#}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
              {#Produit ID chambre#}
            <label class="col-sm-2 control-label" for="id_produit">{{ entree_id_produit }}</label>
            <div class="col-sm-10">
              <input type="number" name="id_produit" id="id_produit" required>
            </div>
          </div>
          <div class="form-group">
              {#Prix chambre#}
            <label class="col-sm-2 control-label" for="prix">{{ entree_prix }}</label>
            <div class="col-sm-10">
              <input type="number" name="prix" id="prix" required>
            </div>
          </div>
          <div class="form-group">
              {#Date chambre#}
            <label class="col-sm-2 control-label" for="date">{{ entree_date }}</label>
            <div class="col-sm-10">
              <input type="datetime-local" name="date" id="date" required>
              <span class="ml-5">{{ entree_date_desc }}</span>
            </div>
          </div>
          <input type="hidden" name="form-type" value="encheres">
          <input type="submit" class="btn btn-primary" value="{{ encheres_enregistrer }}">
        </form>
        <hr>
        <br>
        <h2>{{ list_proposition_title }}</h2>
        {#Liste des enchères#}
        <table class="table">
          <thead>
          <tr>
            <td class="text-center">{{ tab_produit_nom }}</td>
            <td class="text-center">{{ tab_client_nom }}</td>
            <td class="text-center">{{ tab_date }}</td>
            <td class="text-center">{{ tab_prix }}</td>
          </tr>
          </thead>
          <tbody>
            {# afficher toutes les propositions #}
            {% for rangee in HistoireEncheres %}
              <tr>
                <td class="text-center">{{ rangee.produit_nom }}</td>
                <td class="text-center">{{ rangee.client_nom }}</td>
                <td class="text-center">{{ rangee.dateProp }}</td>
                <td class="text-center">{{ rangee.prix }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{ footer }}